<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878109663406-tll47iqrc03pvol1uouda7oui12vtpi2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878109663406-tll47iqrc03pvol1uouda7oui12vtpi2</string>
	<key>API_KEY</key>
	<string>AIzaSyA_s3KgEyhVqSxuHgtxPjLr5Zlghr8nRbY</string>
	<key>GCM_SENDER_ID</key>
	<string>878109663406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.feelingLabel</string>
	<key>PROJECT_ID</key>
	<string>feeling-label</string>
	<key>STORAGE_BUCKET</key>
	<string>feeling-label.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878109663406:ios:fd2b5ca1394ff74fae4d3f</string>
</dict>
</plist>